
#qrcheckin-participant-name {
  font-size: xx-large;
  padding-top: 10px;
  padding-bottom: 10px;

}

#qrcheckin-event-name {
  padding-top: 10px;
  font-size: large;
}

#qrcheckin-status-line {
  font-size: large;
  padding-top: 10px;
  padding-bottom: 10px;

}

.qrcheckin-status-success {
  color: green;
}

.qrcheckin-status-not-checked-in {
  color: orange;
}

.qrcheckin-status-other {
  color: red;
}

